.main-container {
  background-size: cover;
  background-position: center;
  color: #fbfada;
  text-align: center;
  padding: 100px 20px;
  height: 95vh;
  align-content: center;
}

.main-container p {
  font-family: "Orelega One", serif;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 50px;
}

.btn-conferir {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #436850;
  color: #fbfada;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

/*--- MAIN ---*/

.wrapper h2 {
  font-family: "Orelega One", cursive;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.wrapper p {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

.wrapper {
  background-color: #12372a;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  padding: 100px 20px 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  z-index: 1;
  position: relative;
}
.block:before {
  content: "";
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #f2f2f2;
  left: 50%;
  margin-top: 90px;
}

.title {
  font: bold 42px/52px "Open Sans Condensed", sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}

.each-event {
  background-color: #436850;
  color: #fbfada;
  padding: 2rem;
  margin: 60px 20px;

  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar o conteúdo verticalmente */
  width: 40%;
}
.each-event:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: -27px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}
.each-event:nth-child(odd) {
  margin-left: calc(50% + 20px);
}
.each-event:nth-child(even) {
  margin-left: calc(50% - 41%);
}
.each-event:nth-child(even):before {
  left: calc(100% + 14px);
}

.title.non-focus {
  font-size: 24px;
  line-height: 34px;
  transition: all 0.8s ease-in-out;
}

.each-event.non-focus {
  color: #12372a;
  background: #12372a;
  margin-top: 90px;
  transform: rotateZ(45deg);
  transition: all 0.8s ease-in-out;
}
.each-event.non-focus:before {
  opacity: 0;
  background-color: #aaa;
}
.event-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 20px 150px;
  }

  .title {
    font-size: 32px;
    line-height: 42px;
  }

  .each-event {
    width: 80%;
  }

  .each-event:nth-child(even),
  .each-event:nth-child(odd) {
    margin-left: 0;
  }

  .each-event:before {
    left: -16px;
  }

  .each-event:nth-child(even):before {
    left: calc(100% + 2px);
  }

  .event-description p {
    font-size: 1rem;
  }
  .event-description h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding: 30px 20px 100px;
  }

  .title {
    font-size: 28px;
    line-height: 38px;
  }

  .each-event {
    width: 90%;
  }
}

.btn-conferir-lojas a {
  margin-top: 2rem;
  color: white;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #375e45;
  color: #fbfada;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
